<template>
  <div class="wrapper" style="border-radius: 15px">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(updateShop)">
        <b-row class="mb-3">
          <b-col cols="6">
            <!-- Shop Name -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:4"
            >
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Shop Name <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.shopName"
                  :disabled="processing"
                  placeholder="Enter shop name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Shop Owner -->
            <b-form-group id="input-group-2" label-for="input-2">
              <template v-slot:label>
                Owner
              </template>
              <a class="text-info" @click="viewShopOwner">
                <strong>{{
                  form.owner.firstName + ' ' + form.owner.lastName
                }}</strong>
              </a>
            </b-form-group>

            <!-- Contact Name -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group
                id="input-group-2"
                label-for="input-2"
                rules="min:10"
              >
                <template v-slot:label>
                  Contact name
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.contactName"
                  :disabled="processing"
                  placeholder="Enter contact name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Contact Phone -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Contact phone
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.contactPhone"
                  :disabled="processing"
                  placeholder="Enter contact phone"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Description -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group
                id="input-group-2"
                label="Last Name"
                label-for="input-2"
              >
                <template v-slot:label>
                  Description
                </template>
                <b-form-textarea
                  id="input-2"
                  v-model="form.description"
                  :disabled="processing"
                  placeholder="Enter shop description"
                ></b-form-textarea>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
          </b-col>
          <b-col cols="6">
            <b-form-group id="input-group-2" label="Street" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.address.street"
                :disabled="processing"
                placeholder="Enter street"
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2" label="City" label-for="input-2">
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="cityOptions"
                v-model="form.address.city"
                @change="onCityChange($event)"
              >
                <b-form-select-option :value="null">
                  Tỉnh/Thành
                </b-form-select-option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              id="input-group-2"
              label="District"
              label-for="input-2"
            >
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="districtOptions"
                v-model="form.address.district"
              >
                <b-form-select-option :value="null">
                  Quận/Huyện
                </b-form-select-option>
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <!-- Shop Logo -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-7"
                label="Shop Logo"
                label-for="input-7"
              >
                <b-img
                  v-if="thumbnailFile != null"
                  :src="previewImage"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailFile == null"
                  :src="previewImage"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailFile != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImage"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImage"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.avatarUrl"
                    disabled
                    hidden
                    placeholder="Upload thumbnail"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnail.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnail"
              v-model="thumbnailFile"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnail"
            ></b-form-file>
          </b-col>
          <b-col cols="6">
            <!-- Shop Certificate -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group
                id="input-group-7"
                label="Shop Certificate"
                label-for="input-7"
              >
                <b-img
                  v-if="thumbnailCertificate != null"
                  :src="previewCertificate"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailCertificate == null"
                  :src="previewCertificate"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailCertificate != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImageCertificate"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImageCertificate"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.shopCertificate"
                    disabled
                    hidden
                    placeholder="Upload Certificate"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnailCer.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnailCer"
              v-model="thumbnailCertificate"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnailCertificate"
            ></b-form-file>
          </b-col>
        </b-row>
        <b-button
          variant="outline-success"
          size="md"
          style="margin-right: 5px"
          pill
          @click="$router.push('/admin/shops')"
        >
          Go back
        </b-button>
        <b-button
          variant="success"
          v-if="form.status == 2"
          type="submit"
          size="md"
          pill
          :disabled="processing"
          @click="activeShop()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Active
        </b-button>
        <b-button
          variant="success"
          v-if="form.status == 1"
          type="submit"
          size="md"
          pill
          :disabled="processing"
          @click="unactiveShop()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Unactive
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          pill
          :disabled="processing"
          @click="updateShop()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Update
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
import { uniq } from 'lodash'
import vn from '../../../../locales/vn'

export default {
  name: 'Edit',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  data() {
    return {
      form: {
        shopName: '',
        description: '',
        contactName: '',
        contactPhone: '',
        shopLogo: '',
        shopCertificate: '',
        status: '',
        owner: {},
        address: {
          street: '',
          district: '',
          city: '',
          phone: ''
        }
      },
      previewImage: '',
      thumbnailFile: null,
      previewCertificate: '',
      thumbnailCertificate: null,
      processing: false,
      cityOptions: [],
      districtOptions: []
    }
  },
  created() {
    this.$bus.$emit('title', 'Edit shop')
    this.getShop()
    this.cityOptions = uniq(vn.map((e) => e.city)).map((c) => ({
      value: c,
      text: c
    }))
  },
  methods: {
    previewThumbnail(e) {
      this.previewImage = URL.createObjectURL(e.target.files[0])
    },
    previewThumbnailCertificate(e) {
      this.previewCertificate = URL.createObjectURL(e.target.files[0])
    },
    onCityChange(event) {
      this.districtOptions = uniq(
        vn.filter((c) => c.city === event).map((e) => e.district)
      ).map((c) => ({
        value: c,
        text: c
      }))
    },
    async updateShop() {
      try {
        this.processing = true
        if (this.$store.state.user.currentUser.roles.includes(1)) {
          await this.$axios.put(`/shops/${this.$route.params.id}`, this.form, {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          })
          this.notifyToast('success', 'Success', 'Update shop success')
          setTimeout(() => {
            this.$router.push('/admin/shops')
          }, 1500)
        } else {
          this.notifyToast('error', 'Error', 'Only Admin can update shop')
          setTimeout(() => {
            this.$router.push('/admin/shops')
          }, 1500)
        }
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Update shop failed, check your permission'
        )
        this.processing = false
      }
    },
    async activeShop() {
      try {
        this.processing = true
        await this.$axios.put(`/shops/${this.$route.params.id}/active`, null, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.notifyToast(
          'success',
          'Success',
          'Approve shop success, email has been send to owner'
        )
        this.processing = false
      } catch (error) {
        this.processing = false
      }
    },
    async unactiveShop() {
      try {
        this.processing = true
        await this.$axios.put(
          `/shops/${this.$route.params.id}/unactive`,
          null,
          {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          }
        )
        this.notifyToast(
          'success',
          'Success',
          'Unactive shop success, email has been send to owner'
        )
        this.processing = false
      } catch (error) {
        this.processing = false
      }
    },
    async getShop() {
      try {
        const shop = await this.$axios.get(`/shops/${this.$route.params.id}`, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.shopName = shop.data.shopName
        this.form.contactName = shop.data.contactName
        this.form.contactPhone = shop.data.contactPhone
        this.form.status = shop.data.status
        this.form.description = shop.data.description
        this.form.shopLogo = shop.data.shopLogo
        this.form.shopCertificate = shop.data.shopCertificate
        this.form.owner = shop.data.owner
        this.previewImage = shop.data.shopLogo
        this.previewCertificate = shop.data.shopCertificate
        this.form.address.phone = shop.data.address.phone
        this.form.address.street = shop.data.address.street
        this.form.address.city = shop.data.address.city
        this.onCityChange(this.form.address.city)
        this.form.address.district = shop.data.address.district
      } catch (error) {
        this.processing = false
      }
    },
    viewShopOwner() {
      this.$router.push(`/admin/users/${this.form.owner.id}/edit`)
    },
    cancelImage() {
      this.thumbnailFile = null
      this.previewImage = this.form.shopLogo
    },
    async uploadImage() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.shopLogo = response.data
        this.previewImage = response.data
        this.notifyToast('success', 'Success', 'Change shop logo success')
      } catch {
        this.notifyToast('error', 'Error', 'Change shop logo failed')
      } finally {
        this.thumbnailFile = null
        this.processing = false
      }
    },
    cancelImageCertificate() {
      this.thumbnailCertificate = null
      this.previewCertificate = this.form.shopCertificate
    },
    async uploadImageCertificate() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailCertificate)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.shopCertificate = response.data
        this.previewCertificate = response.data
        this.notifyToast('success', 'Success', 'Change certificate success')
      } catch {
        this.notifyToast('error', 'Error', 'Change certificate failed')
      } finally {
        this.thumbnailCertificate = null
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Edit shop'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
