<template>
  <div class="wrapper" style="border-radius: 15px">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(updateShop)">
        <b-row class="mb-3">
          <b-col cols="6">
            <!-- Shop Name -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:4"
            >
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Shop Name <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.shopName"
                  disabled
                  placeholder="Enter shop name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Shop Owner -->
            <b-form-group id="input-group-2" label-for="input-2">
              <template v-slot:label>
                Owner
              </template>
              <a class="text-info" @click="viewShopOwner">
                <strong>{{
                  form.owner.firstName + ' ' + form.owner.lastName
                }}</strong>
              </a>
            </b-form-group>

            <!-- Contact Phone -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Contact Email
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.contactName"
                  disabled
                  placeholder="Enter contact email"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Contact Phone -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Contact phone
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.contactPhone"
                  disabled
                  placeholder="Enter contact phone"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Description -->
            <ValidationProvider v-slot="{ errors }" mode="lazy">
              <b-form-group
                id="input-group-2"
                label="Last Name"
                label-for="input-2"
              >
                <template v-slot:label>
                  Description
                </template>
                <b-form-textarea
                  id="input-2"
                  v-model="form.description"
                  disabled
                ></b-form-textarea>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <b-form-group
              id="input-group-7"
              label="Shop Certificate"
              label-for="input-7"
            >
              <b-img
                v-if="thumbnailCertificate == null"
                :src="previewCertificate"
                height="200"
                width="200"
                class="mb-3"
                @click="viewCertificate"
              ></b-img>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <b-form-group id="input-group-2" label="Street" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.address.street"
                disabled
                placeholder="Enter street"
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2" label="City" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.address.city"
                disabled
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-2"
              label="District"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.address.district"
                disabled
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button
          variant="outline-success"
          size="md"
          style="margin-right: 5px"
          @click="$router.push('/admin/shops')"
        >
          Go back
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          :disabled="processing"
          @click="approveShop()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Approve
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          :disabled="processing"
          @click="deleteShop()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Delete Registration
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'

export default {
  name: 'Registration',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  data() {
    return {
      form: {
        shopName: '',
        description: '',
        contactName: '',
        contactPhone: '',
        shopLogo: '',
        shopCertificate: '',
        owner: {},
        address: {
          street: '',
          district: '',
          city: '',
          phone: ''
        }
      },
      previewCertificate: '',
      thumbnailCertificate: null,
      processing: false
    }
  },
  created() {
    this.$bus.$emit('title', 'Registration shop')
    this.getShop()
  },
  methods: {
    previewThumbnailCertificate(e) {
      this.previewCertificate = URL.createObjectURL(e.target.files[0])
    },
    viewCertificate() {
      window.open(this.previewCertificate, '_blank')
    },
    async getShop() {
      try {
        const shop = await this.$axios.get(`/shops/${this.$route.params.id}`, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.shopName = shop.data.shopName
        this.form.contactName = shop.data.contactName
        this.form.contactPhone = shop.data.contactPhone
        this.form.description = shop.data.description
        this.form.shopLogo = shop.data.shopLogo
        this.form.shopCertificate = shop.data.shopCertificate
        this.form.owner = shop.data.owner
        this.previewImage = shop.data.shopLogo
        this.previewCertificate = shop.data.shopCertificate
        this.form.address.phone = shop.data.address.phone
        this.form.address.street = shop.data.address.street
        this.form.address.city = shop.data.address.city
        this.onCityChange(this.form.address.city)
        this.form.address.district = shop.data.address.district
      } catch (error) {
        this.processing = false
      }
    },
    async approveShop() {
      try {
        this.processing = true
        await this.$axios.put(`/shops/${this.$route.params.id}/active`, null, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.notifyToast(
          'success',
          'Success',
          'Approve shop success, email has been send to owner'
        )
        this.processing = false
      } catch (error) {
        this.processing = false
      }
    },
    async deleteShop() {
      try {
        this.processing = true
        await this.$axios.put(`/shops/${this.$route.params.id}/decline`, null, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.notifyToast(
          'success',
          'Success',
          'Decline shop success, email has been send to owner'
        )
        this.processing = false
      } catch (error) {
        this.processing = false
      }
    },
    viewShopOwner() {
      this.$router.push(`/admin/users/${this.form.owner.id}/edit`)
    }
  },
  head() {
    return {
      title: 'Registration shop'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
