<template>
  <div class="wrapper" style="border-radius: 15px">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form
        @submit.prevent="handleSubmit(updateUser)"
        style="font-size: 16px"
      >
        <div style="font-size: 20px; color: green">
          <strong>Order {{ form.code }}</strong>
        </div>
        <hr class="p-1 m-1" />
        <b-row class="mb-3">
          <b-col cols="6">
            <div style="border-left: 4px green solid; padding-left: 6px">
              <strong style="font-size: 18px">Shipping Information</strong>
            </div>
            <!-- Customer Name -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                Customer Name:
                <strong class="text-info ml-2">{{ form.user.fullname }}</strong>
              </p>
            </b-form-group>

            <!-- Email -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                Phone:<strong class="ml-2">{{ form.address.phone }}</strong>
              </p>
            </b-form-group>

            <!-- Contact Phone -->
            <b-form-group id="input-group-2" label-for="input-2">
              <p class="mb-0">
                Email:<strong class="ml-2">{{ form.user.email }}</strong>
              </p>
            </b-form-group>
          </b-col>
          <b-col cols="6">
            <!-- Street -->
            <b-form-group
              id="input-group-2"
              label-for="input-2"
              class="mb-1"
              style="margin-top: 25px"
            >
              <p class="mb-0">
                Street:
                <strong class="text-info">{{ form.address.street }}</strong>
              </p>
            </b-form-group>

            <!-- District -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                District:
                <strong>{{ form.address.district }}</strong>
              </p>
            </b-form-group>

            <!-- City -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                City:
                <strong>{{ form.address.city }}</strong>
              </p>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col cols="2">
            <div style="border-left: 4px green solid; padding-left: 6px;">
              <strong style="font-size: 18px">Order Status</strong>
            </div>
          </b-col>
          <b-col cols="2">
            <b-form-group>
              <b-form-select :options="statusOptions" v-model="form.status">
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <hr class="p-1 m-1" />
        <div
          style="border-left: 4px green solid; padding-left: 6px; margin-bottom: 5px"
        >
          <strong style="font-size: 18px">Order Detail</strong>
        </div>
        <b-row
          class="mb-3"
          style="background-color: gray; font-weight: bold; color: white"
        >
          <b-col cols="4">
            Product
          </b-col>
          <b-col cols="2">
            Price
          </b-col>
          <b-col cols="2">
            Quantity
          </b-col>
          <b-col cols="2">
            Discount
          </b-col>
          <b-col cols="2">
            Sub total
          </b-col>
        </b-row>
        <div :key="index" v-for="(item, index) in form.items">
          <b-row class="mb-3">
            <b-col cols="4">
              <div class="product-main">
                <div class="product-thumbail">
                  <b-img
                    :src="item.product.image1"
                    height="75"
                    width="75"
                    style="border-radius: 10px"
                  ></b-img>
                </div>
                <div class="mt-3 ml-2">
                  <strong>{{ item.product.name }}</strong>
                </div>
              </div>
            </b-col>
            <b-col cols="2" class="mt-3">
              {{ '$' + item.product.price }}
            </b-col>
            <b-col cols="2" class="mt-3">
              {{ item.quantity }}
            </b-col>
            <b-col cols="2" class="mt-3">
              {{ '0%' }}
            </b-col>
            <b-col cols="2" class="mt-3">
              {{ '$' + item.quantity * item.product.price }}
            </b-col>
          </b-row>
        </div>
        <b-row>
          <b-col cols="8"></b-col>
          <b-col cols="4">
            <!-- Customer Name -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                Price:
                <strong class="text-info ml-2">{{
                  '$' + form.totalPrice
                }}</strong>
              </p>
            </b-form-group>

            <!-- Email -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                VAT:
                <strong class="ml-2">0%</strong>
              </p>
            </b-form-group>

            <!-- Contact Phone -->
            <b-form-group id="input-group-2" label-for="input-2" class="mb-1">
              <p class="mb-0">
                Price Inc.VAT:
                <strong class="text-info ml-2">{{
                  '$' + form.totalPrice
                }}</strong>
              </p>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button
          variant="outline-success"
          size="md"
          pill
          style="margin-right: 5px"
          @click="$router.push('/orders')"
        >
          Go back
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          pill
          :disabled="processing"
          @click="updateOrder()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Update Order
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'

export default {
  name: 'EditProduct',
  layout: 'shop',
  //middleware: ['AdminAuthRequired'],
  components: {},
  data() {
    return {
      form: {
        user: {},
        address: {},
        items: [],
        status: 1,
        code: '',
        totalPrice: ''
      },
      processing: false,
      statusOptions: [
        { value: 1, text: 'Processing' },
        { value: 2, text: 'Transporting' },
        { value: 3, text: 'Finish' }
      ]
    }
  },
  created() {
    this.$bus.$emit('title', 'Order detail')
    this.getOrder()
  },
  methods: {
    async updateOrder() {
      try {
        this.processing = true
        if (this.form.status == 2) {
          await this.$axios.put(
            `/orders/${this.$route.params.id}/deliver`,
            null,
            {
              headers: {
                Authorization: 'Bearer ' + Cookie.get('token')
              }
            }
          )
        } else if (this.form.status == 3) {
          await this.$axios.put(
            `/orders/${this.$route.params.id}/finish`,
            null,
            {
              headers: {
                Authorization: 'Bearer ' + Cookie.get('token')
              }
            }
          )
        }
        this.notifyToast(
          'success',
          'Success',
          'Order status has been updated and send email to customer'
        )
        this.processing = false
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Update order failed, check your permission'
        )
        this.processing = false
      }
    },
    async getOrder() {
      try {
        const order = await this.$axios.get(
          `/orders/${this.$route.params.id}`,
          {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          }
        )
        this.form.code = order.data.code
        this.form.user = order.data.user
        this.form.status = order.data.status
        this.form.totalPrice = order.data.total
        this.form.address = order.data.address
        this.form.items = order.data.orderItems
      } catch (error) {
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Order Detail', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
.product-main {
  display: flex;
}
.product-thumbail {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}
</style>
