<template>
  <!-- Checkout the variants customization bootstrap-vue/variants folder -->
  <b-navbar toggleable="lg" type="dark" variant="dark" style="transition: 0.5s">
    <b-navbar-brand class="ml-5">
      <nuxt-link to="/" style="text-decoration: none; font-size: 30px">
        Student<span style="color: #82b441">CV</span>
      </nuxt-link>
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse" />

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!-- Fix DOM mismatch between client-side and server-side -->
        <client-only>
          <!-- Login button -->
          <b-button
            v-if="$store.state.auth && $route.path != '/login'"
            size="sm"
            class="mr-3"
            style="border-radius: 2rem"
            variant="danger"
            @click="$store.dispatch('logout')"
            :title="$t('navbar.logout')"
          >
          </b-button>
          <b-button @click="$store.dispatch('logout')" class="mr-2">
            <fa class="text-light" :icon="['fas', 'sign-in-alt']" /> Login
          </b-button>
          <b-button>
            Register
          </b-button>
        </client-only>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  name: 'Navbar',
  computed: {
    ...mapState({
      locale: (state) => state.locale
    })
  },
  methods: {
    ...mapMutations({
      SET_LANG: 'SET_LANG'
    }),
    changeLanguage(locale) {
      this.SET_LANG(locale) // store in state and localStorage
      this.$i18n.locale = locale // live change on website
    }
  }
}
</script>
