<template>
  <div class="wrapper" style="border-radius: 15px">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(updateUser)">
        <b-row class="mb-3">
          <b-col cols="6">
            <!-- Product name -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Product Name <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  :disabled="processing"
                  v-model="form.name"
                  placeholder="Enter product name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Price, Quantity -->
            <b-row>
              <b-col md="6">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group id="input-group-2" label-for="input-2">
                    <template v-slot:label>
                      Price - USD<span class="text-danger text-bold">(*)</span>
                    </template>
                    <b-form-input
                      id="input-2"
                      type="number"
                      v-model="form.price"
                      :disabled="processing"
                      placeholder="Price"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
              </b-col>
              <b-col md="6">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group id="input-group-2" label-for="input-2">
                    <template v-slot:label>
                      Quantity <span class="text-danger text-bold">(*)</span>
                    </template>
                    <b-form-input
                      id="input-2"
                      type="number"
                      v-model="form.quantity"
                      :disabled="processing"
                      placeholder="Quantity"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
              </b-col>
            </b-row>

            <!-- Description -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|max:400"
            >
              <b-form-group
                id="input-group-2"
                label="Product description"
                label-for="input-2"
              >
                <b-form-textarea
                  id="input-2"
                  :disabled="processing"
                  v-model="form.description"
                  placeholder="Description"
                  rows="4"
                  max-rows="8"
                ></b-form-textarea>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
          </b-col>

          <b-col cols="6">
            <!-- Category -->
            <b-form-group>
              <template v-slot:label>
                Category <span class="text-danger text-bold">(*)</span>
              </template>
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="categories.data"
                v-model="form.categoryId"
                value-field="id"
                text-field="categoryName"
              >
              </b-form-select>
            </b-form-group>

            <!-- Discount -->
            <b-form-group
              id="input-group-2"
              label="Discount"
              label-for="input-2"
            >
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="discounts"
                v-model="form.discountId"
                value-field="id"
                text-field="name"
              >
              </b-form-select>
            </b-form-group>

            <!-- Age, Gender -->
            <b-row>
              <b-col md="6">
                <b-form-group>
                  <template v-slot:label>
                    Age <span class="text-danger text-bold">(*)</span>
                  </template>
                  <b-form-select
                    class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                    :options="ageOptions"
                    v-model="form.ageType"
                  >
                  </b-form-select>
                </b-form-group>
              </b-col>
              <b-col md="6">
                <b-form-group>
                  <template v-slot:label>
                    Gender <span class="text-danger text-bold">(*)</span>
                  </template>
                  <b-form-select
                    class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                    :options="genderOptions"
                    v-model="form.gender"
                  >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <p>Product images</p>
        <b-row>
          <b-col md="3">
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group>
                <b-img
                  v-if="thumbnailFile1 != null"
                  :src="previewImage1"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailFile1 == null"
                  :src="previewImage1"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailFile1 != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImage1"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImage1"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.image1"
                    disabled
                    hidden
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnail.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnail"
              v-model="thumbnailFile1"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnail1"
            ></b-form-file>
          </b-col>
          <b-col md="3">
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group>
                <b-img
                  v-if="thumbnailFile2 != null"
                  :src="previewImage2"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailFile2 == null"
                  :src="previewImage2"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailFile2 != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImage2"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImage2"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.image2"
                    disabled
                    hidden
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnail2.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnail2"
              v-model="thumbnailFile2"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnail2"
            ></b-form-file>
          </b-col>
          <b-col md="3">
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group>
                <b-img
                  v-if="thumbnailFile3 != null"
                  :src="previewImage3"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailFile3 == null"
                  :src="previewImage3"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailFile3 != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImage3"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImage3"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.image3"
                    disabled
                    hidden
                    placeholder="Upload thumbnail"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnail3.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnail3"
              v-model="thumbnailFile3"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnail3"
            ></b-form-file>
          </b-col>
          <b-col md="3">
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required"
            >
              <b-form-group>
                <b-img
                  v-if="thumbnailFile4 != null"
                  :src="previewImage4"
                  height="200"
                  width="200"
                ></b-img>
                <b-img
                  v-if="thumbnailFile4 == null"
                  :src="previewImage4"
                  height="200"
                  width="200"
                  class="mb-3"
                ></b-img>
                <div v-if="thumbnailFile4 != null" class="mb-4">
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="primary"
                    :disabled="processing"
                    @click="uploadImage4"
                  >
                    Upload
                  </b-button>
                  <b-button
                    size="sm"
                    class="mt-4"
                    variant="danger"
                    :disabled="processing"
                    @click="cancelImage4"
                  >
                    Cancel
                  </b-button>
                </div>
                <b-input-group>
                  <b-form-input
                    id="input-7"
                    v-model="form.image4"
                    disabled
                    hidden
                    placeholder="Upload thumbnail"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button
                      variant="outline-secondary"
                      :disabled="processing"
                      @click="$refs.thumbnail4.$el.childNodes[0].click()"
                    >
                      Upload
                    </b-button>
                  </b-input-group-append>
                </b-input-group>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
            <b-form-file
              ref="thumbnail4"
              v-model="thumbnailFile4"
              class="mt-3"
              name="photo"
              :disabled="processing"
              accept="image/jpeg, image/png"
              size="sm"
              style="display: none"
              @change="previewThumbnail4"
            ></b-form-file>
          </b-col>
        </b-row>
        <b-button
          variant="outline-success"
          size="md"
          pill
          style="margin-right: 5px"
          @click="$router.push('/products')"
        >
          Go back
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          pill
          :disabled="processing"
          @click="addProduct()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Add Product
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
import { mapState } from 'vuex'

export default {
  name: 'CreateProduct',
  layout: 'shop',
  //middleware: ['AdminAuthRequired'],
  components: {},
  async fetch({ store, error }) {
    try {
      await store.commit('category/RESET_FILTER')
      await store.commit('category/SET_VIEWING', {})
      await store.commit('category/SET_LIMIT_FILTER', 50)
      await store.dispatch('category/fetchList')

      await store.commit('discount/RESET_FILTER')
      await store.commit('discount/SET_VIEWING', {})
      await store.commit('discount/SET_LIMIT_FILTER', 50)
      await store.dispatch('discount/fetchListShop')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      form: {
        name: '',
        price: 0,
        description: '',
        quantity: '',
        categoryId: '',
        discountId: null,
        ageType: '',
        gender: '',
        image1:
          'http://res.cloudinary.com/noemiedut/image/upload/v1645866976/nspqluscqbebk9oks87y.png',
        image2: '',
        image3: '',
        image4: ''
      },
      processing: false,
      previewImage1: '',
      thumbnailFile1: null,
      previewImage2: '',
      thumbnailFile2: null,
      previewImage3: '',
      thumbnailFile3: null,
      previewImage4: '',
      thumbnailFile4: null,
      genderOptions: [
        { value: 1, text: 'Women' },
        { value: 2, text: 'Men' },
        { value: 3, text: 'Unisex' }
      ],
      ageOptions: [
        { value: 1, text: 'Children' },
        { value: 2, text: 'Middle-age' },
        { value: 3, text: 'Elderly' }
      ]
    }
  },
  created() {
    this.$bus.$emit('title', 'Add Product')
  },
  computed: mapState({
    categories: (state) => state.category.viewing,
    discounts: (state) => state.discount.viewing
  }),
  methods: {
    previewThumbnail1(e) {
      this.previewImage1 = URL.createObjectURL(e.target.files[0])
    },
    previewThumbnail2(e) {
      this.previewImage2 = URL.createObjectURL(e.target.files[0])
    },
    previewThumbnail3(e) {
      this.previewImage3 = URL.createObjectURL(e.target.files[0])
    },
    previewThumbnail4(e) {
      this.previewImage4 = URL.createObjectURL(e.target.files[0])
    },
    cancelImage1() {
      this.thumbnailFile1 = null
      this.previewImage1 = this.form.image1
    },
    async uploadImage1() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile1)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.image1 = response.data
        this.previewImage1 = response.data
        this.notifyToast('success', 'Success', 'Update product image success')
      } catch {
        this.notifyToast('error', 'Error', 'Change shop logo failed')
      } finally {
        this.thumbnailFile1 = null
        this.processing = false
      }
    },
    cancelImage2() {
      this.thumbnailFile2 = null
      this.previewImage2 = this.form.image2
    },
    async uploadImage2() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile2)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.image2 = response.data
        this.previewImage2 = response.data
        this.notifyToast('success', 'Success', 'Update product image success')
      } catch {
        this.notifyToast('error', 'Error', 'Change shop logo failed')
      } finally {
        this.thumbnailFile2 = null
        this.processing = false
      }
    },
    cancelImage3() {
      this.thumbnailFile3 = null
      this.previewImage3 = this.form.image3
    },
    async uploadImage3() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile3)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.image3 = response.data
        this.previewImage3 = response.data
        this.notifyToast('success', 'Success', 'Update product image success')
      } catch {
        this.notifyToast('error', 'Error', 'Update product image failed')
      } finally {
        this.thumbnailFile3 = null
        this.processing = false
      }
    },
    cancelImage4() {
      this.thumbnailFile4 = null
      this.previewImage4 = this.form.image4
    },
    async uploadImage4() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile4)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.image4 = response.data
        this.previewImage4 = response.data
        this.notifyToast('success', 'Success', 'Update product image success')
      } catch {
        this.notifyToast('error', 'Error', 'Change shop logo failed')
      } finally {
        this.thumbnailFile4 = null
        this.processing = false
      }
    },
    async addProduct() {
      try {
        this.processing = true
        if (this.$store.state.user.currentUser.roles.includes(3)) {
          await this.$axios.post(`/products`, this.form, {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          })
          this.notifyToast('success', 'Success', 'Add products success')
          this.processing = false
        } else {
          this.notifyToast(
            'error',
            'Error',
            'Only company permission can add job'
          )
          setTimeout(() => {
            this.$router.push('/products')
          }, 1500)
        }
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Add job failed, check your permission'
        )
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Create Product', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
