<template>
  <div class="wrapper">
    <ValidationObserver v-slot="{ handleSubmit }">
      <b-form @submit.prevent="handleSubmit(updateUser)">
        <b-row class="mb-3">
          <b-col cols="6">
            <!-- Username -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:4"
            >
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  Username <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.email"
                  :disabled="processing"
                  placeholder="Enter username"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- First Name -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:4"
            >
              <b-form-group id="input-group-2" label-for="input-2">
                <template v-slot:label>
                  First name <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.firstName"
                  :disabled="processing"
                  placeholder="Enter first name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Last Name -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:4"
            >
              <b-form-group
                id="input-group-2"
                label="Last Name"
                label-for="input-2"
              >
                <template v-slot:label>
                  Last name <span class="text-danger text-bold">(*)</span>
                </template>
                <b-form-input
                  id="input-2"
                  v-model="form.lastName"
                  :disabled="processing"
                  placeholder="Enter last name"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>

            <!-- Phone -->
            <ValidationProvider
              v-slot="{ errors }"
              mode="lazy"
              rules="required|min:10"
            >
              <b-form-group
                id="input-group-2"
                label="Phone"
                label-for="input-2"
              >
                <b-form-input
                  id="input-2"
                  v-model="form.address.phone"
                  :disabled="processing"
                  placeholder="Enter phone number"
                ></b-form-input>
                <p class="text-danger">
                  {{ $t(errors[0]) }}
                </p>
              </b-form-group>
            </ValidationProvider>
          </b-col>
          <b-col cols="6">
            <b-form-group id="input-group-2" label="Street" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.address.street"
                :disabled="processing"
                placeholder="Enter street"
              ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-2" label="City" label-for="input-2">
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="cityOptions"
                v-model="form.address.city"
                @change="onCityChange($event)"
              >
                <b-form-select-option :value="null">
                  Tỉnh/Thành
                </b-form-select-option>
              </b-form-select>
            </b-form-group>
            <b-form-group
              id="input-group-2"
              label="District"
              label-for="input-2"
            >
              <b-form-select
                class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
                :options="districtOptions"
                v-model="form.address.district"
              >
                <b-form-select-option :value="null">
                  Quận/Huyện
                </b-form-select-option>
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>

        <!-- Role -->
        <ValidationProvider mode="lazy" rules="required">
          <b-form-group label="Roles" v-slot="{ ariaDescribedby }">
            <b-form-checkbox-group
              id="checkbox-group-1"
              v-model="form.roles"
              :options="roleOptions"
              :aria-describedby="ariaDescribedby"
              name="flavour-1"
            ></b-form-checkbox-group>
          </b-form-group>
        </ValidationProvider>
        <!-- avatar -->
        <ValidationProvider v-slot="{ errors }" mode="lazy" rules="required">
          <b-form-group
            id="input-group-7"
            label="Thumbnail image:"
            label-for="input-7"
          >
            <b-img
              v-if="thumbnailFile != null"
              :src="previewImage"
              height="400"
              width="400"
            ></b-img>
            <!-- <b-img
              :src="previewImage"
              height="100"
              width="100"
              class="mb-3"
            ></b-img> -->
            <div v-if="thumbnailFile != null" class="mb-4">
              <b-button
                size="sm"
                class="mt-4"
                variant="primary"
                :disabled="processing"
                @click="uploadImage"
              >
                Upload
              </b-button>
              <b-button
                size="sm"
                class="mt-4"
                variant="danger"
                :disabled="processing"
                @click="cancelImage"
              >
                Cancel
              </b-button>
            </div>
            <b-input-group>
              <b-form-input
                id="input-7"
                v-model="form.avatar"
                disabled
                placeholder="Upload thumbnail"
              ></b-form-input>
              <b-input-group-append>
                <b-button
                  variant="outline-secondary"
                  :disabled="processing"
                  @click="$refs.thumbnail.$el.childNodes[0].click()"
                >
                  Upload
                </b-button>
              </b-input-group-append>
            </b-input-group>
            <p class="text-danger">
              {{ $t(errors[0]) }}
            </p>
          </b-form-group>
        </ValidationProvider>
        <b-form-file
          ref="thumbnail"
          v-model="thumbnailFile"
          class="mt-3"
          name="photo"
          :disabled="processing"
          accept="image/jpeg, image/png"
          size="sm"
          style="display: none"
          @change="previewThumbnail"
        ></b-form-file>
        <b-button
          variant="outline-success"
          size="md"
          style="margin-right: 5px"
          @click="$router.push('/admin/users')"
        >
          Go back
        </b-button>
        <b-button
          variant="success"
          type="submit"
          size="md"
          :disabled="processing"
          @click="updateUser()"
        >
          <b-spinner small type="grow" v-if="processing"></b-spinner>
          Update
        </b-button>
      </b-form>
    </ValidationObserver>
  </div>
</template>
<script>
import Cookie from 'js-cookie'
import { uniq } from 'lodash'
import vn from '../../../locales/vn'

export default {
  name: 'Edit',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  data() {
    return {
      form: {
        email: '',
        firstName: '',
        lastName: '',
        avatar: '',
        roles: [],
        address: {
          street: '',
          district: '',
          city: '',
          phone: ''
        }
      },
      selectedRole: null,
      roleOptions: [
        { value: 1, text: 'ADMIN' },
        { value: 2, text: 'MODERATE' },
        { value: 3, text: 'OWNER' },
        { value: 4, text: 'USER' }
      ],
      previewImage: '',
      thumbnailFile: null,
      processing: false,
      cityOptions: [],
      districtOptions: []
    }
  },
  created() {
    this.$bus.$emit('title', 'Edit user')
    this.getUser()
    this.cityOptions = uniq(vn.map((e) => e.city)).map((c) => ({
      value: c,
      text: c
    }))
  },
  methods: {
    previewThumbnail(e) {
      this.previewImage = URL.createObjectURL(e.target.files[0])
    },
    onCityChange(event) {
      this.districtOptions = uniq(
        vn.filter((c) => c.city === event).map((e) => e.district)
      ).map((c) => ({
        value: c,
        text: c
      }))
    },
    async updateUser() {
      try {
        this.processing = true
        if (this.$store.state.user.currentUser.roles.includes(1)) {
          await this.$axios.put(`/users/${this.$route.params.id}`, this.form, {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          })
          this.notifyToast('success', 'Success', 'Update user success')
          setTimeout(() => {
            this.$router.push('/admin/users')
          }, 1500)
        } else {
          this.notifyToast('error', 'Error', 'Only Admin can update user')
          setTimeout(() => {
            this.$router.push('/admin/users')
          }, 1500)
        }
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Update user failed, check your permission'
        )
        this.processing = false
      }
    },
    async getUser() {
      try {
        const user = await this.$axios.get(`/users/${this.$route.params.id}`, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.email = user.data.email
        this.form.firstName = user.data.firstName
        this.form.lastName = user.data.lastName
        this.form.avatar = user.data.avatar
        this.previewImage = user.data.avatar
        this.form.roles = user.data.roles
        this.form.address.phone = user.data.address.phone
        this.form.address.street = user.data.address.street
        this.form.address.city = user.data.address.city
        this.onCityChange(this.form.address.city)
        this.form.address.district = user.data.address.district
      } catch (error) {
        this.processing = false
      }
    },
    cancelImage() {
      this.thumbnailFile = null
      this.previewImage = this.form.avatar
    },
    async uploadImage() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailFile)
        const response = await this.$axios.post(`/users/upload/image`, data, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.form.avatar = response.data
        this.previewImage = response.data
        this.notifyToast('success', 'Success', 'Change avatar success')
      } catch {
        this.notifyToast('error', 'Error', 'Change avatar failed')
      } finally {
        this.thumbnailFile = null
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Edit user'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
