<template>
  <b-container fluid class="wrapper">
    <b-row class="mb-3">
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            placeholder="Search by name"
            style="max-width: 200px"
            :disabled="processing"
            size="md"
            @input="onSearch"
          ></b-form-input>
          <template v-slot:append>
            <b-input-group-text>
              <fa :icon="['fas', 'search']" style="cursor: pointer" />
            </b-input-group-text>
          </template>
        </b-input-group>
      </b-col>
      <b-col cols="6" class="text-right">
        <b-button
          size="md"
          style="padding: 2px 8px;"
          @click="$refs['addModal'].show()"
          variant="outline-danger"
        >
          + Add Discount
        </b-button>
        <b-form-select
          :options="limitOptions"
          style="max-width: 60px"
          size="sm"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="user-table"
          responsive
          bordered
          show-empty
          hover
          :items="discounts"
          :fields="fields"
        >
          <template #cell(name)="data">
            <p style="font-weight: bold; color: green">
              {{ data.item.name }}
            </p>
          </template>
          <template #cell(percent)="data">
            <p>{{ data.item.percent }}%</p>
          </template>
          <template #cell(active)="data">
            <p style="color: green">
              {{ data.item.active ? 'True' : 'False' }}
            </p>
          </template>
          <template v-slot:cell(edit)="data">
            <b-button @click="openEditModal(data.value)">
              <fa :icon="['far', 'edit']" class="color-red" />
              <span>Edit</span>
            </b-button>
            <b-button @click="openDeleteModal(data.value)">
              <fa :icon="['far', 'trash-alt']" class="color-red" />
              <span>Delete</span>
            </b-button>
          </template>
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>No data</span>
            </div>
          </template>
        </b-table>
        <b-modal id="deleteModal" ref="deleteModal" hide-header>
          <div class="text-center">
            <fa
              :icon="['fas', 'times-circle']"
              class="text-danger"
              style="font-size: 7rem"
            />
            <h3 class="my-3 text-gray">
              System Warning
            </h3>
            <p class="text-gray">
              Warning not to delete this discount
            </p>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="sm"
              variant="secondary"
              :disabled="processing"
              @click="cancel()"
            >
              Cancel
            </b-button>
            <b-button
              size="sm"
              variant="danger"
              :disabled="processing"
              @click="deleteDiscount()"
            >
              OK
            </b-button>
          </template>
        </b-modal>
        <b-modal id="editModal" ref="editModal" hide-header hide-footer>
          <div>
            <h5 class="color-red text-center">
              Edit Discount
            </h5>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(editDiscount)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-red"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.name"
                      :disabled="processing"
                      placeholder="Enter discount name"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-red"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.percent"
                      type="number"
                      step=".01"
                      :disabled="processing"
                      placeholder="Enter discount percent"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-row style="float: right;">
                  <b-col>
                    <b-button
                      variant="danger"
                      type="submit"
                      size="md"
                      class="pull-right"
                      :disabled="processing"
                    >
                      <b-spinner
                        small
                        type="grow"
                        v-if="processing"
                      ></b-spinner>
                      Update
                    </b-button>
                    <b-button
                      variant="outline-danger"
                      size="md"
                      class="ml-10"
                      @click="closeModal()"
                    >
                      Cancel
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </ValidationObserver>
          </div>
        </b-modal>
        <b-modal id="addModal" ref="addModal" hide-header hide-footer>
          <div>
            <h5 class="color-red text-center">
              Add Discount
            </h5>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(addDiscount)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-red"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.name"
                      :disabled="processing"
                      placeholder="Enter discount name"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-red"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.percent"
                      type="number"
                      step=".01"
                      :disabled="processing"
                      placeholder="Enter discount percent"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-row style="float: right;">
                  <b-col>
                    <b-button
                      variant="outline-danger"
                      size="sm"
                      class="ml-10"
                      @click="closeModal()"
                    >
                      Cancel
                    </b-button>
                    <b-button
                      variant="danger"
                      type="submit"
                      size="sm"
                      :disabled="processing"
                    >
                      <b-spinner
                        small
                        type="grow"
                        v-if="processing"
                      ></b-spinner>
                      ADD
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </ValidationObserver>
          </div>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { debounce } from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  name: 'DiscountList',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  async fetch({ store, error, query }) {
    try {
      await store.commit('discount/RESET_FILTER')
      await store.commit('discount/SET_VIEWING', {})
      if ('size' in query) {
        await store.commit('discount/SET_LIMIT_FILTER', query.pageSize)
      }
      if ('page' in query) {
        await store.commit('discount/SET_PAGE_FILTER', query.pageNo)
      }
      await store.dispatch('discount/fetchListShop')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID', thStyle: { width: '50px' } },
        { key: 'name', label: 'Name' },
        { key: 'percent', label: 'Percent', thStyle: { width: '100px' } },
        { key: 'active', label: 'Active', thStyle: { width: '100px' } },
        {
          key: 'edit',
          label: 'Edit',
          thStyle: { width: '230px' },
          formatter: (value, key, item) => {
            return item.id
          }
        }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      // Context menu selected item
      selectedItem: {},
      // search text
      searchText: this.$store.state.discount.query.name,
      processing: false,
      form: {
        name: '',
        percent: ''
      }
    }
  },
  computed: mapState({
    discounts: (state) => state.discount.viewing,
    query: (state) => state.discount.query,
    discountSelected: (state) => state.discount.selected
  }),
  created() {
    this.$bus.$emit('title', 'Discounts')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'discount/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'discount/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'discount/SET_LIMIT_FILTER',
      SET_SELECTED_ID: 'discount/SET_SELECTED_ID'
    }),
    ...mapActions({
      fetchList: 'discount/fetchListShop',
      fetchDetail: 'discount/fetchDetail'
    }),
    onPaginationChange: debounce(async function() {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    onSearch: debounce(async function() {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    async openEditModal(id) {
      await this.SET_SELECTED_ID(id)
      await this.fetchDetail()
      this.form.name = this.discountSelected.name
      this.form.percent = this.discountSelected.percent
      this.$refs['editModal'].show()
    },
    async openDeleteModal(id) {
      await this.SET_SELECTED_ID(id)
      await this.fetchDetail()
      this.form.name = this.discountSelected.name
      this.$refs['deleteModal'].show()
    },
    async editDiscount() {
      try {
        this.processing = true
        await this.$axios.put(
          `/discounts/${this.discountSelected.id}`,
          this.form,
          {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          }
        )
        this.notifyToast('success', 'Success', 'Update discount success')
        this.form.name = ''
        this.form.percent = ''
        await this.fetchList()
        this.$refs['editModal'].hide()
        this.processing = false
      } catch (error) {
        this.notifyToast('error', 'Error', 'Update discount failed')
        this.processing = false
      }
    },
    async addDiscount() {
      try {
        this.processing = true
        await this.$axios.post(`/discounts`, this.form, {
          headers: {
            Authorization: 'Bearer ' + Cookie.get('token')
          }
        })
        this.notifyToast('success', 'Success', 'Add discount success')
        this.form.name = ''
        this.form.percent = ''
        await this.fetchList()
        this.$refs['addModal'].hide()
        this.processing = false
      } catch (error) {
        this.notifyToast('error', 'Error', 'Add discount failed')
        this.processing = false
      }
    },
    closeModal() {
      this.$refs['editModal'].hide()
      this.$refs['deleteModal'].hide()
      this.$refs['addModal'].hide()
    },
    async deleteDiscount() {
      try {
        const token = Cookie.get('token')
        this.processing = true
        await this.$axios.delete(`/discounts/${this.discountSelected.id}`, {
          headers: {
            Authorization: 'Bearer ' + token
          }
        })
        this.notifyToast('success', 'Success', 'Delete discount success')
        await this.fetchList()
        this.$refs['deleteModal'].hide()
        this.processing = false
      } catch (error) {
        this.notifyToast('error', 'Error', 'Delete discount failed')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Discounts', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
