<template>
  <div id="sidebar" class="sidebar">
    <!-- User info -->
    <div v-if="$store.state.user.currentUser != null" class="sidebar-user-info">
      <div class="w-100 text-center">
        <b-avatar
          v-if="$store.state.user.currentUser.shopLogo == null"
          variant="info"
          :src="require('~/assets/img/default-woman.png')"
          size="3rem"
        ></b-avatar>
        <b-avatar
          v-else
          variant="info"
          :src="$store.state.user.currentUser.shopLogo"
          size="6rem"
        ></b-avatar>
      </div>
      <div class="text-center">
        <strong class="m-0 color-green">
          {{ $store.state.user.currentUser.shopName }}
        </strong>
        <p class="m-0 color-green" style="font-size: 0.8rem; font-weight: 500">
          {{ $store.state.user.currentUser.role }}
        </p>
      </div>
    </div>
    <div role="tablist" class="mb-10 text-gray">
      <!-- Products -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-1'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['far', `user-circle`]" class="mr-1 color-green" />
            {{ 'Product management' }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right"
          />
          <fa class="closed" :icon="['fas', 'angle-up']" style="float: right" />
        </b-card-header>
        <b-collapse :id="'accordion-1'" role="tabpanel" visible>
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/products"
              :event="$route.path == '/products' ? '' : 'click'"
              class="navigation-item"
              @click.native="checkActive"
            >
              <p>
                <fa :icon="['far', 'list-alt']" class="mr-1 color-green" />
                Products
              </p>
            </nuxt-link>
            <nuxt-link
              to="/products/create"
              :event="$route.path == '/products/create' ? '' : 'click'"
              class="navigation-item"
              @click.native="checkActive"
            >
              <p>
                <fa :icon="['far', `plus-square`]" class="mr-1 color-green" />
                Add Product
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>

      <!-- Orders -->
      <b-card no-body class="accordion mb-1">
        <b-card-header
          v-b-toggle="'accordion-1'"
          header-tag="header"
          class="accordion-header"
          role="tab"
          header-bg-variant="white"
        >
          <span class="navigation-header">
            <fa :icon="['far', `user-circle`]" class="mr-1 color-green" />
            {{ 'Order management' }}
          </span>
          <fa
            class="opened"
            :icon="['fas', 'angle-down']"
            style="float: right"
          />
          <fa class="closed" :icon="['fas', 'angle-up']" style="float: right" />
        </b-card-header>
        <b-collapse :id="'accordion-1'" role="tabpanel" visible>
          <b-card-body class="py-0 pl-5">
            <nuxt-link
              to="/orders"
              :event="$route.path == '/orders' ? '' : 'click'"
              class="navigation-item"
              @click.native="checkActive"
            >
              <p>
                <fa :icon="['far', 'list-alt']" class="mr-1 color-green" />
                Orders
              </p>
            </nuxt-link>
          </b-card-body>
        </b-collapse>
      </b-card>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SidebarAdmin',
  data() {
    return {
      selectedLang: null,
      entity: [
        ['user', 'users'],
        ['archive', 'classes'],
        ['book', 'posts']
      ],
      lang: [
        { value: 'en', text: 'EN' },
        { value: 'vi', text: 'VI' }
      ]
    }
  },
  watch: {},
  mounted() {
    this.checkActive()
  },
  methods: {
    checkActive() {
      const elements = this.$el.querySelectorAll('.navigation-item')
      setTimeout(() => {
        elements.forEach((element) => {
          if (this.$route.path == element.pathname) {
            element.classList.add('color-green')
          } else {
            element.classList.remove('color-green')
          }
        })
      }, 800)
    }
  }
}
</script>
<style lang="scss" scoped>
// CSS for item
.sidebar {
  height: 100%;
  box-shadow: $shadow;
  .sidebar-user-info {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 0.5rem;
  }
}
.user-badge {
  color: $blue;
  font-weight: bold;
}
.accordion {
  cursor: pointer;
  border-radius: 0;
  border: none;
}
.accordion-header {
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.border-left-gray {
  border-left: 5px solid $gray-500;
}
.collapsed > .opened,
:not(.collapsed) > .closed {
  display: none;
}
.navigation-header {
  color: $black;
  user-select: none;
}
.navigation-item {
  text-decoration: none;
  color: $gray-700;
  user-select: none;
  &:hover {
    color: $blue;
  }
}
.text-blue {
  background-color: aqua;
  color: $blue;
}
</style>
