<template>
  <b-container fluid class="wrapper" style="border-radius: 15px">
    <b-row class="mb-3">
      <b-col cols="6" class="d-flex">
        <b-input-group>
          <b-form-input
            v-model="searchText"
            placeholder="Search by name"
            style="max-width: 200px ; border-radius: 20px"
            :disabled="processing"
            size="md"
            @input="onSearch"
          ></b-form-input>
        </b-input-group>
      </b-col>
      <b-col cols="6" class="text-right">
        <b-button
          size="md"
          style="padding: 2px 8px;"
          pill
          @click="$refs['addModal'].show()"
          variant="outline-success"
        >
          + Add Category
        </b-button>
        <b-form-select
          v-model="selectedLimit"
          :options="limitOptions"
          :disabled="processing"
          style="max-width: 60px"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="user-table"
          responsive
          bordered
          show-empty
          hover
          :items="categories.data"
          :fields="fields"
          :per-page="selectedLimit"
        >
          <template #cell(categoryName)="data">
            <p style="font-weight: bold; color: green">
              {{ data.item.categoryName }}
            </p>
          </template>
          <template v-slot:cell(edit)="data">
            <b-button @click="openEditModal(data.value)" pill variant="success">
              <fa :icon="['far', 'edit']" style="color: white" />
              <span>Edit</span>
            </b-button>
            <b-button
              @click="openDeleteModal(data.value)"
              pill
              variant="danger"
            >
              <fa :icon="['far', 'trash-alt']" style="color: white" />
              <span>Delete</span>
            </b-button>
          </template>
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>No data</span>
            </div>
          </template>
        </b-table>
        <b-pagination
          pills
          align="center"
          v-model="currentPage"
          :total-rows="categories.totalRecords"
          :per-page="selectedLimit"
          :disabled="processing"
          aria-controls="user-table"
          @change="onPaginationChange"
        ></b-pagination>
        <b-modal id="deleteModal" ref="deleteModal" hide-header>
          <div class="text-center">
            <h3 class="my-3 text-gray">
              Do you want to delete this category?
            </h3>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="md"
              variant="outline-success"
              :disabled="processing"
              @click="cancel()"
            >
              Cancel
            </b-button>
            <b-button
              size="md"
              variant="danger"
              :disabled="processing"
              @click="deleteCategory()"
            >
              OK
            </b-button>
          </template>
        </b-modal>
        <b-modal id="editModal" ref="editModal" hide-header hide-footer>
          <div>
            <h5 class="color-tech text-center">
              Update Categories
            </h5>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(editCategory)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-tech"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.categoryName"
                      :disabled="processing"
                      placeholder="Enter category name"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-row style="float: right;">
                  <b-col>
                    <b-button
                      variant="success"
                      type="submit"
                      size="md"
                      class="pull-right"
                      :disabled="processing"
                    >
                      <b-spinner
                        small
                        type="grow"
                        v-if="processing"
                      ></b-spinner>
                      Update
                    </b-button>
                    <b-button
                      variant="outline-success"
                      size="md"
                      class="ml-10"
                      @click="closeModal()"
                    >
                      Cancel
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </ValidationObserver>
          </div>
        </b-modal>
        <b-modal id="addModal" ref="addModal" hide-header hide-footer>
          <div>
            <h5 class="color-tech text-center">
              Add Category
            </h5>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(addCategory)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group
                    id="input-group-1"
                    class="color-tech"
                    label-for="input-1"
                  >
                    <b-form-input
                      id="input-1"
                      v-model="form.categoryName"
                      :disabled="processing"
                      placeholder="Enter category name"
                    ></b-form-input>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-row style="float: right;">
                  <b-col>
                    <b-button
                      variant="outline-success"
                      size="md"
                      class="ml-10"
                      @click="closeModal()"
                    >
                      Cancel
                    </b-button>
                    <b-button
                      variant="success"
                      type="submit"
                      size="md"
                      :disabled="processing"
                    >
                      <b-spinner
                        small
                        type="grow"
                        v-if="processing"
                      ></b-spinner>
                      ADD
                    </b-button>
                  </b-col>
                </b-row>
              </b-form>
            </ValidationObserver>
          </div>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { debounce } from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  name: 'CategoryList',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  async fetch({ store, error, query }) {
    try {
      await store.commit('category/RESET_FILTER')
      await store.commit('category/SET_VIEWING', {})
      if ('size' in query) {
        await store.commit('category/SET_LIMIT_FILTER', query.pageSize)
      }
      if ('page' in query) {
        await store.commit('category/SET_PAGE_FILTER', query.pageNo)
      }
      await store.dispatch('category/fetchList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID', thStyle: { width: '50px' } },
        { key: 'categoryName', label: 'Name' },
        {
          key: 'edit',
          label: 'Edit',
          thStyle: { width: '250px' },
          formatter: (value, key, item) => {
            return item.id
          }
        }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      selectedLimit: this.$store.state.category.query.pageSize,
      // Context menu selected item
      selectedItem: {},
      // Current page
      currentPage: this.$store.state.category.query.pageNo,
      // search text
      searchText: this.$store.state.category.query.name,
      processing: false,
      form: {
        categoryName: ''
      }
    }
  },
  computed: mapState({
    categories: (state) => state.category.viewing,
    query: (state) => state.category.query,
    categorySelected: (state) => state.category.selected
  }),
  created() {
    this.$bus.$emit('title', 'Categories')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'category/SET_SEARCH_FILTER',
      SET_PAGE_FILTER: 'category/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'category/SET_LIMIT_FILTER',
      SET_SELECTED_ID: 'category/SET_SELECTED_ID'
    }),
    ...mapActions({
      fetchList: 'category/fetchList',
      fetchDetail: 'category/fetchDetail'
    }),
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?pageNo=${this.currentPage}&pageSize=${this.selectedLimit}`
      )
    },
    onPaginationChange: debounce(async function() {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    onLimitChange: debounce(async function() {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    onSearch: debounce(async function() {
      try {
        await this.SET_SEARCH_FILTER(this.searchText)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    async openEditModal(id) {
      await this.SET_SELECTED_ID(id)
      await this.fetchDetail()
      this.form.categoryName = this.categorySelected.categoryName
      this.$refs['editModal'].show()
    },
    async openDeleteModal(id) {
      await this.SET_SELECTED_ID(id)
      await this.fetchDetail()
      this.form.categoryName = this.categorySelected.categoryName
      this.$refs['deleteModal'].show()
    },
    async editCategory() {
      try {
        if (this.$store.state.user.currentUser.roles.includes(1)) {
          this.processing = true
          await this.$axios.put(
            `/categories/${this.categorySelected.id}`,
            this.form,
            {
              headers: {
                Authorization: 'Bearer ' + Cookie.get('token')
              }
            }
          )
          this.notifyToast('success', 'Success', 'Update category success')
          this.form.categoryName = ''
          await this.fetchList()
          this.$refs['editModal'].hide()
          this.processing = false
        } else {
          this.processing = false
          this.notifyToast('error', 'Error', 'Only Admin can edit category')
        }
      } catch (error) {
        this.notifyToast('error', 'Error', 'Update category failed')
        this.processing = false
      }
    },
    async addCategory() {
      try {
        if (this.$store.state.user.currentUser.roles.includes(1)) {
          this.processing = true
          await this.$axios.post(`/categories`, this.form, {
            headers: {
              Authorization: 'Bearer ' + Cookie.get('token')
            }
          })
          this.notifyToast('success', 'Success', 'Add category success')
          this.form.categoryName = ''
          await this.fetchList()
          this.$refs['addModal'].hide()
          this.processing = false
        } else {
          this.processing = false
          this.notifyToast('error', 'Error', 'Only Admin can add new category')
        }
      } catch (error) {
        this.notifyToast('error', 'Error', 'Add new category failed')
        this.processing = false
      }
    },
    closeModal() {
      this.$refs['editModal'].hide()
      this.$refs['deleteModal'].hide()
      this.$refs['addModal'].hide()
    },
    async deleteCategory() {
      try {
        if (this.$store.state.user.currentUser.roles.includes(1)) {
          const token = Cookie.get('token')
          this.processing = true
          await this.$axios.delete(
            `/categories/${this.categorySelected.id}/delete`,
            {
              headers: {
                Authorization: 'Bearer ' + token
              }
            }
          )
          this.notifyToast('success', 'Success', 'Delete category category')
          await this.fetchList()
          this.$refs['deleteModal'].hide()
          this.processing = false
        } else {
          this.processing = false
          this.notifyToast('error', 'Error', 'Only Admin can delete category')
        }
      } catch (error) {
        this.notifyToast('error', 'Error', 'Delete category failed')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'Categories', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
.nameOfTheClass {
  max-width: 400px;
  background-color: red;
}
</style>
