<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <b-row style="height: 100%">
        <b-col md="12">
          <div
            class="mt-20"
            style="
              width: 80%;
              margin: auto;
              text-align: center;
              margin-top: 30px;
            "
          >
            <b-avatar
              variant="info"
              :src="require('~/assets/img/logo.jpg')"
              size="7rem"
            ></b-avatar>
            <h1
              style="
                font-size: 30px;
                color: white;
                margin-bottom: 12px;
              "
            >
              Welcome to Nóemie
            </h1>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(onSubmit)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group>
                    <b-input-group>
                      <b-form-input
                        class="form-input-radius mb-1"
                        v-model="username"
                        :disabled="processing"
                        type="text"
                        :placeholder="'Username'"
                      ></b-form-input>
                    </b-input-group>
                    <transition name="fade">
                      <p class="text-danger" style="margin: 0px">
                        {{ $t(errors[0]) }}
                      </p>
                    </transition>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group>
                    <b-input-group style="margin: 0px">
                      <b-form-input
                        class="form-input-radius mb-1"
                        v-model="password"
                        :disabled="processing"
                        type="password"
                        :placeholder="'Password'"
                      ></b-form-input>
                    </b-input-group>
                    <p class="text-danger" style="margin: 0px">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-button
                  variant="success"
                  type="submit"
                  style="width: 100%; background-color: #8DBF39"
                  class="button-input button-login"
                  :disabled="processing"
                >
                  <b-spinner small type="grow" v-if="processing"></b-spinner>
                  SIGN IN
                </b-button>
                <p style="color: white; font-size: 18px; margin-top: 12px">
                  Forgot password?
                </p>
              </b-form>
            </ValidationObserver>
          </div>
        </b-col>
        <p
          style="color: white; font-size: 18px; margin-top: 12px; margin-left: 60px"
        >
          Do you have account?
          <a @click="$router.push('/register')" style="color: #a3ff5c">
            Create account
          </a>
        </p>
      </b-row>
    </div>
  </div>
</template>

<script>
import Cookie from 'js-cookie'
export default {
  //middleware:,
  components: {},
  data() {
    return {
      username: '',
      password: '',
      processing: false
    }
  },
  created() {
    if (process.client) {
      this.$store.dispatch('logout')
    }
  },
  methods: {
    async onSubmit() {
      try {
        this.processing = true
        const userResponse = await this.$axios.post('/shops/login', {
          username: this.username,
          password: this.password
        })
        if (userResponse.data.roles.includes(3)) {
          Cookie.set('token', userResponse.data.token, {
            expires: 1
          })
          // Save token in state for other uses
          this.notifyToast('success', 'Success', 'Login successfully')
          this.$store.commit('user/SET_TOKEN', userResponse.data.token)
          this.$store.commit('user/SET_USER', userResponse.data)
          this.$router.push('/products')
        } else {
          this.notifyToast('error', 'Error', 'Not enough permission')
          this.processing = false
        }
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Login failed, check your infomation'
        )
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Login Nóemie for Seller'
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('~@/assets/img/background-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-input-radius {
  height: 50px;
  border-radius: 50px;
}
.button-login {
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
  width: 50%;
}
.login-title {
  font-size: 128px;
  margin-top: 390px;
  margin-left: 10px;
  color: #82b441;
}
.form-wrapper {
  border: none;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  background: rgba(76, 175, 80, 0.6);
  color: $black;
  box-shadow: $shadow-darker;
}
.form-background {
  overflow: hidden;
  border-radius: 8px;
  background-image: url('~@/assets/img/fashion-figures.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-input {
  border: none;
  box-shadow: none;
  background-color: rgb(213, 213, 243);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
