<template>
  <div class="wrapper">
    <div class="form-wrapper">
      <b-row style="height: 100%">
        <b-col md="12">
          <div
            class="mt-20"
            style="
              width: 80%;
              margin: auto;
              text-align: center;
              margin-top: 30px;
            "
          >
            <h1
              style="
                font-size: 30px;
                color: white;
                margin-bottom: 12px;
              "
            >
              Register Noemie's Shop
            </h1>
            <ValidationObserver v-slot="{ handleSubmit }">
              <b-form @submit.prevent="handleSubmit(onAddShop)">
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group>
                    <b-input-group>
                      <b-form-input
                        v-model="companyForm.email"
                        :disabled="processing"
                        class="form-input-radius"
                        type="text"
                        :placeholder="'Shop Email (*)'"
                      ></b-form-input>
                    </b-input-group>
                    <transition name="fade">
                      <p class="text-danger" style="margin: 0px">
                        {{ $t(errors[0]) }}
                      </p>
                    </transition>
                  </b-form-group>
                </ValidationProvider>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group>
                    <b-input-group style="margin: 0px">
                      <b-form-input
                        v-model="companyForm.shopName"
                        :disabled="processing"
                        type="text"
                        class="form-input-radius"
                        :placeholder="'Shop Name (*)'"
                      ></b-form-input>
                    </b-input-group>
                    <p class="text-danger" style="margin: 0px">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-row>
                  <b-col cols="6">
                    <ValidationProvider
                      v-slot="{ errors }"
                      mode="lazy"
                      rules="required"
                    >
                      <b-form-group>
                        <b-input-group style="margin: 0px">
                          <b-form-input
                            v-model="companyForm.firstName"
                            :disabled="processing"
                            class="form-input-radius"
                            type="text"
                            :placeholder="'Owner First Name (*)'"
                          ></b-form-input>
                        </b-input-group>
                        <p class="text-danger" style="margin: 0px">
                          {{ $t(errors[0]) }}
                        </p>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                  <b-col cols="6">
                    <ValidationProvider
                      v-slot="{ errors }"
                      mode="lazy"
                      rules="required"
                    >
                      <b-form-group>
                        <b-input-group style="margin: 0px">
                          <b-form-input
                            v-model="companyForm.lastName"
                            :disabled="processing"
                            class="form-input-radius"
                            type="text"
                            :placeholder="'Owner Last Name (*)'"
                          ></b-form-input>
                        </b-input-group>
                        <p class="text-danger" style="margin: 0px">
                          {{ $t(errors[0]) }}
                        </p>
                      </b-form-group>
                    </ValidationProvider>
                  </b-col>
                </b-row>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group>
                    <b-input-group style="margin: 0px">
                      <b-form-input
                        v-model="companyForm.password"
                        :disabled="processing"
                        type="password"
                        class="form-input-radius"
                        :placeholder="'Password (*)'"
                      ></b-form-input>
                    </b-input-group>
                    <p class="text-danger" style="margin: 0px">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <div class="text-left">
                  <strong style="color: white; margin-left: 5px">
                    Shop Address
                  </strong>
                </div>
                <b-form-input
                  v-model="companyForm.address.street"
                  :disabled="processing"
                  class="form-input-radius mt-1"
                  type="text"
                  :placeholder="'Street'"
                ></b-form-input>
                <b-row class="mt-3 mb-3">
                  <b-col md="6">
                    <b-form-select
                      class="mb-2 mr-sm-2 mb-sm-0 index-search-item2 form-input-radius"
                      :options="cityOptions"
                      :value="null"
                      v-model="companyForm.address.city"
                      @change="onCityChange($event)"
                    >
                      <b-form-select-option :value="null">
                        Tỉnh/Thành
                      </b-form-select-option>
                    </b-form-select>
                  </b-col>
                  <b-col md="6">
                    <b-form-select
                      class="mb-2 mr-sm-2 mb-sm-0 index-search-item2 form-input-radius"
                      :options="districtOptions"
                      v-model="companyForm.address.district"
                      :value="null"
                    >
                      <b-form-select-option :value="null">
                        Quận/Huyện
                      </b-form-select-option>
                    </b-form-select>
                  </b-col>
                </b-row>
                <!-- Shop Certificate -->
                <div class="text-left">
                  <strong style="color: white; margin-left: 5px">
                    Shop Certificate
                  </strong>
                </div>
                <ValidationProvider
                  v-slot="{ errors }"
                  mode="lazy"
                  rules="required"
                >
                  <b-form-group id="input-group-7">
                    <div v-if="thumbnailCertificate != null">
                      <p v-if="thumbnailFile == null">
                        Do you want to upload selected image?
                      </p>
                      <b-button
                        size="sm"
                        variant="primary"
                        :disabled="processing"
                        @click="uploadImageCertificate"
                      >
                        Upload
                      </b-button>
                      <b-button
                        size="sm"
                        variant="danger"
                        :disabled="processing"
                        @click="cancelImageCertificate"
                      >
                        Cancel
                      </b-button>
                    </div>
                    <b-input-group>
                      <b-form-input
                        id="input-7"
                        v-model="companyForm.shopCertificate"
                        disabled
                        placeholder="Upload Certificate"
                      ></b-form-input>
                      <b-input-group-append>
                        <b-button
                          variant="outline-secondary"
                          :disabled="processing"
                          @click="$refs.thumbnailCer.$el.childNodes[0].click()"
                        >
                          Upload
                        </b-button>
                      </b-input-group-append>
                    </b-input-group>
                    <p class="text-danger">
                      {{ $t(errors[0]) }}
                    </p>
                  </b-form-group>
                </ValidationProvider>
                <b-form-file
                  ref="thumbnailCer"
                  v-model="thumbnailCertificate"
                  class="mt-3 form-input-radius"
                  name="photo"
                  :disabled="processing"
                  accept="image/jpeg, image/png"
                  size="sm"
                  style="display: none"
                  @change="previewThumbnailCertificate"
                ></b-form-file>
                <b-button
                  variant="success"
                  style="width:100%"
                  class="success pl-5 pr-5 button-login"
                  :disabled="processing"
                  @click="onAddShop()"
                >
                  <b-spinner small type="grow" v-if="processing"></b-spinner>
                  REGISTER
                </b-button>
                <p
                  style="color: white; font-size: 18px; margin-top: 12px; margin-left: 60px"
                >
                  Do you have account?
                  <a @click="$router.push('/login')" style="color: #a3ff5c">
                    Login now
                  </a>
                </p>
              </b-form>
            </ValidationObserver>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import { uniq } from 'lodash'
import vn from '../locales/vn'
export default {
  name: 'ShopRegistration',
  //middleware: ['AdminAuthRequired'],
  components: {},
  data() {
    return {
      companyForm: {
        email: '',
        password: '',
        shopName: '',
        shopCertificate:
          'http://res.cloudinary.com/noemiedut/image/upload/v1645374816/zqaq2n9isp5qz99twt5d.jpg',
        firstName: '',
        lastName: '',
        roles: [],
        address: {
          city: '',
          district: '',
          street: ''
        }
      },
      cityOptions: [],
      districtOptions: [],
      previewCertificate: '',
      thumbnailCertificate: null,
      processing: false
    }
  },
  created() {
    this.$bus.$emit('title', 'Register')
    this.cityOptions = uniq(vn.map((e) => e.city)).map((c) => ({
      value: c,
      text: c
    }))
  },
  methods: {
    previewThumbnailCertificate(e) {
      this.previewCertificate = URL.createObjectURL(e.target.files[0])
    },
    async onAddShop() {
      try {
        this.processing = true
        await this.$axios.post('/shops/register', this.companyForm)
        this.notifyToast('success', 'Success', 'Register success')
        setTimeout(() => {
          this.$router.push('/login')
        }, 1500)
      } catch (error) {
        this.notifyToast('error', 'Error', 'Register failed')
        this.processing = false
      }
    },
    onCityChange(event) {
      this.districtOptions = uniq(
        vn.filter((c) => c.city === event).map((e) => e.district)
      ).map((c) => ({
        value: c,
        text: c
      }))
    },
    cancelImageCertificate() {
      this.thumbnailCertificate = null
      this.previewCertificate = this.companyForm.shopCertificate
    },
    async uploadImageCertificate() {
      try {
        this.processing = true
        const data = new FormData()
        data.append('image', this.thumbnailCertificate)
        const response = await this.$axios.post(`/users/upload/image`, data)
        this.companyForm.shopCertificate = response.data
        this.previewCertificate = response.data
        this.notifyToast('success', 'Success', 'Change certificate success')
      } catch {
        this.notifyToast('error', 'Error', 'Change certificate failed')
      } finally {
        this.thumbnailCertificate = null
        this.processing = false
      }
    }
  },
  head() {
    return {
      title: 'Register shop'
    }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('~@/assets/img/background-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-input-radius {
  height: 50px;
  border-radius: 50px;
}
.button-login {
  height: 50px;
  border-radius: 50px;
  border: 2px solid white;
  width: 50%;
}
.form-wrapper {
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 700px;
  background: rgba(76, 175, 80, 0.6);
  color: $black;
  box-shadow: $shadow-darker;
}
.form-background {
  overflow: hidden;
  border-radius: 8px;
  background-image: url('~@/assets/img/jobhunt2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-input {
  border: none;
  box-shadow: none;
  background-color: rgb(213, 213, 243);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
