<template>
  <b-container fluid class="wrapper" style="border-radius: 15px">
    <b-row class="mb-3">
      <b-col cols="8" class="d-flex">
        <b-input-group style="max-width: 200px">
          <b-form-input
            v-model="filter.searchText"
            placeholder="Search by name"
            style="max-width: 250px ; border-radius: 20px"
            :disabled="processing"
            size="md"
          ></b-form-input>
        </b-input-group>
        <b-form-select
          style="max-width: 200px; border-radius: 20px"
          class="ml-3 mr-3"
          v-model="filter.roleId"
          :options="options"
          size="md"
        ></b-form-select>
        <b-form-select
          style="max-width: 200px; border-radius: 20px"
          class="mr-3"
          v-model="filter.status"
          :options="statusOptions"
          size="md"
        ></b-form-select>
        <b-button
          size="md"
          variant="success"
          pill
          class="mr-2 pl-3 pr-3"
          @click="onFilter()"
        >
          Filter
        </b-button>
        <b-button
          size="md"
          variant="outline-success"
          pill
          @click="clearFilter()"
        >
          Clear Filter
        </b-button>
      </b-col>
      <b-col cols="4" class="text-right">
        <b-form-select
          v-model="selectedLimit"
          :options="limitOptions"
          :disabled="processing"
          style="max-width: 60px"
          size="sm"
          @change="onLimitChange"
        ></b-form-select>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table
          id="user-table"
          responsive
          bordered
          show-empty
          hover
          :items="user.data"
          :fields="fields"
          :per-page="selectedLimit"
          @row-contextmenu="handleContextMenu"
        >
          <template #cell(fullname)="data">
            <b class="text-info">{{ data.item.firstName }}</b>
            <b>{{ data.item.lastName }}</b>
          </template>
          <template #cell(address)="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer"
            >
              {{ data.item.address.street }}, {{ data.item.address.district }},
              {{ data.item.address.city }}
            </p>
          </template>
          <template v-slot:cell()="data">
            <p
              v-contextmenu:contextmenu
              class="h-100 m-0 w-100"
              style="cursor: pointer"
            >
              {{ data.value }}
            </p>
          </template>
          <template v-slot:empty>
            <div v-if="processing" class="text-center p-5">
              <b-spinner></b-spinner>
            </div>
            <div v-else class="text-center p-5 color-gray-600 font-2">
              <fa :icon="['fas', 'folder-open']" />
              <span>No data</span>
            </div>
          </template>
        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="user.total"
          :per-page="selectedLimit"
          :disabled="processing"
          aria-controls="user-table"
          align="center"
          pills
          @change="onPaginationChange"
        ></b-pagination>
        <v-contextmenu ref="contextmenu">
          <v-contextmenu-item @click="editUser">
            <fa :icon="['far', 'edit']" class="color-tech" />
            <span>Edit</span>
          </v-contextmenu-item>
          <v-contextmenu-item v-b-modal.deleteModal>
            <fa :icon="['far', 'trash-alt']" class="color-tech" />
            <span>Ban</span>
          </v-contextmenu-item>
        </v-contextmenu>
        <b-modal id="deleteModal" hide-header centered>
          <div class="text-center">
            <h3 class="my-3 text-gray">
              Do you want to ban this user?
            </h3>
          </div>
          <template v-slot:modal-footer="{ cancel }">
            <b-button
              size="md"
              variant="outline-success"
              :disabled="processing"
              @click="cancel()"
            >
              Cancel
            </b-button>
            <b-button
              size="md"
              variant="danger"
              :disabled="processing"
              @click="banUser()"
            >
              Ban
            </b-button>
          </template>
        </b-modal>
      </b-col>
    </b-row>
  </b-container>
</template>
<script>
import Cookie from 'js-cookie'
import { debounce } from 'lodash'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  name: 'UserList',
  layout: 'admin',
  middleware: ['AdminAuthRequired'],
  components: {},
  async fetch({ store, error, query }) {
    try {
      await store.commit('user/RESET_FILTER')
      await store.commit('user/SET_VIEWING', {})
      if ('size' in query) {
        await store.commit('user/SET_LIMIT_FILTER', query.size)
      }
      if ('page' in query) {
        await store.commit('user/SET_PAGE_FILTER', query.page)
      }
      await store.dispatch('user/fetchList')
    } catch {
      error({ statusCode: 500, message: 'An error has occurred' })
    }
  },
  data() {
    return {
      // Table fields
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'fullname', label: 'FullName' },
        { key: 'email', label: 'Email' },
        { key: 'address.phone', label: 'Phone' },
        { key: 'address', label: 'Address' }
      ],
      filter: {
        roleId: 0,
        status: 0,
        searchText: ''
      },
      options: [
        { value: 1, text: 'Administrator' },
        { value: 2, text: 'Moderator' },
        { value: 3, text: 'Owner' },
        { value: 4, text: 'Customer' }
      ],
      statusOptions: [
        { value: 0, text: 'All' },
        { value: 1, text: 'Active' },
        { value: 2, text: 'Unactive' }
      ],
      // Table limit
      limitOptions: [
        { value: 5, text: '5' },
        { value: 10, text: '10' },
        { value: 15, text: '15' }
      ],
      selectedLimit: this.$store.state.user.query.size,
      // Context menu selected item
      selectedItem: {},
      // Current page
      currentPage: this.$store.state.user.query.page,
      processing: false,
      deleteForm: {
        status: 'BANNED'
      }
    }
  },
  computed: mapState({
    user: (state) => state.user.viewing,
    query: (state) => state.user.query
  }),
  created() {
    this.$bus.$emit('title', 'List user')
    //this.token = Cookie.get('token')
  },
  methods: {
    ...mapMutations({
      SET_SEARCH_FILTER: 'user/SET_SEARCH_FILTER',
      SET_FILTER: 'user/SET_FILTER',
      SET_PAGE_FILTER: 'user/SET_PAGE_FILTER',
      SET_LIMIT_FILTER: 'user/SET_LIMIT_FILTER'
    }),
    ...mapActions({
      fetchList: 'user/fetchList'
    }),
    createUser() {
      this.$router.push(`/admin/users/create`)
    },
    changeQueryParams() {
      history.pushState(
        {},
        '',
        `${this.$route.path}?page=${this.currentPage}&limit=${this.selectedLimit}`
      )
    },
    clearFilter() {
      this.filter.roleId = 0
      this.filter.status = 0
      this.filter.searchText = ''
    },
    async onFilter() {
      try {
        await this.SET_FILTER(this.filter)
        await this.fetchList()
        this.changeQueryParams()
      } catch (error) {
        console.log(error)
      }
    },
    onPaginationChange: debounce(async function() {
      try {
        await this.SET_PAGE_FILTER(this.currentPage)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    onLimitChange: debounce(async function() {
      try {
        await this.SET_LIMIT_FILTER(this.selectedLimit)
        await this.fetchList()
        this.changeQueryParams()
      } catch {
        this.$nuxt.error({ statusCode: 500, message: 'An error has occurred' })
      }
    }, 1000),
    handleContextMenu(item, index, event) {
      event.preventDefault()
      this.selectedItem = item
    },
    editUser() {
      this.$router.push(`/admin/users/${this.selectedItem.id}/edit`)
    },
    async banUser() {
      try {
        this.processing = true
        if (this.$store.state.user.currentUser.roles == 'ADMIN') {
          await this.$axios.patch(
            `/users/${this.selectedItem.id}`,
            this.deleteForm,
            {
              headers: {
                Authorization: 'Bearer ' + Cookie.get('token')
              }
            }
          )
          await this.fetchList()
          this.notifyToast('success', 'Success', 'Ban user successfully')
        } else {
          this.notifyToast('error', 'Error', 'Only ADMIN can ban user')
        }
      } catch {
        this.notifyToast('error', 'Error', 'Can not ban this user')
      } finally {
        this.$bvModal.hide('deleteModal')
        this.processing = false
      }
    }
  },
  head() {
    return { title: 'User List', description: 'A short dummy description' }
  }
}
</script>
<style lang="scss" scoped>
.wrapper {
  background-color: $white;
  box-shadow: $shadow;
  padding: 1rem;
}
</style>
