$tech: #0000FF;
$tech-light: #ADD8E6;
$tech-dark: #0000A0;
$tech-red: #DC2F2F;
$tech-green: #82b441;
.color-red {
  color: $red !important;
}
.color-orange {
  color: $orange !important;
}
.color-blue {
  color: $blue !important;
}
.color-green {
  color: $green !important;
}
.color-brown {
  color: $brown !important;
}
.color-black {
  color: $black !important;
}
// Brand color
.color-tech {
  color: $tech-green !important;
}
.color-tech-light {
  color: $tech-light !important;
}
.color-tech-dark {
  color: $tech-dark !important;
}
.color-gray-600 {
  color: $gray-600;
}
.btn-outline {
  color: $tech;
  border: $tech 1px solid;
  background-color: $white;
  &:hover {
    color: $white;
    background-color: $tech;
  }
}