<template>
  <b-container
    fluid
    class="wrapper"
    style="background-color: #f7f7f7; border-radius: 15px"
  >
    <div class="header-bg"></div>
    <div class="index-search bg-dark sticky-top">
      <b-form inline class="p-3">
        <b-form-input
          class="mb-2 mr-sm-2 mb-sm-0 index-search-item1"
          placeholder="Job Name"
        ></b-form-input>
        <b-form-select
          class="mb-2 mr-sm-2 mb-sm-0 index-search-item1"
          :options="[{ text: 'Job Type', value: null }, 'One', 'Two', 'Three']"
          :value="null"
        ></b-form-select>
        <b-form-select
          class="mb-2 mr-sm-2 mb-sm-0 index-search-item1"
          :options="[{ text: 'Major', value: null }, 'One', 'Two', 'Three']"
          :value="null"
        ></b-form-select>
        <b-form-select
          class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
          :options="cityOptions"
          :value="null"
          @change="onCityChange($event)"
        >
          <b-form-select-option :value="null">
            Tỉnh/Thành
          </b-form-select-option>
        </b-form-select>
        <b-form-select
          class="mb-2 mr-sm-2 mb-sm-0 index-search-item2"
          :options="districtOptions"
          :value="null"
        >
          <b-form-select-option :value="null">
            Quận/Huyện
          </b-form-select-option>
        </b-form-select>
        <b-button
          variant="tech-green text-white text-bold"
          class="index-search-item2"
        >
          Search
        </b-button>
      </b-form>
    </div>
    <div class="content">
      <b-container>
        <b-row>
          <b-col cols="8">
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
            <div class="job-card">
              <b-row>
                <b-col cols="8" class="job-content">
                  <div class="job-thumbnail-image"></div>
                  <div>
                    <h3 class="job-content-header m-0">
                      .NET SOFTWARE DEVELOPER
                    </h3>
                    <a
                      class="job-content-company mb-2"
                      style="color: gray; text-decorator: none"
                    >
                      Cong ty TNHH Enlab Software
                    </a>
                    <div class="job-content-position" style="display: flex">
                      <label for="">Sinh vien lam them</label>
                      <p>- Lien Chieu, Da Nang</p>
                    </div>
                  </div>
                </b-col>
                <b-col cols="4" class="job-action">
                  <b-button
                    variant="tech-green text-white text-bold"
                    outline
                    class="index-search-item2"
                    style="width: 100%"
                  >
                    Ứng tuyển
                  </b-button>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    Deadline: 12-12-2020
                  </p>
                  <p class="m-0" style="font-size: 18px; color: gray">
                    6.000.000
                  </p>
                </b-col>
              </b-row>
            </div>
          </b-col>
          <b-col cols="4"></b-col>
        </b-row>
      </b-container>
    </div>
  </b-container>
</template>

<script>
import Cookie from 'js-cookie'
import { uniq } from 'lodash'
import vn from '../../locales/vn'
export default {
  name: 'Clientpage',
  layout: 'client',
  components: {},
  data() {
    return {
      username: '',
      password: '',
      processing: false,
      cityOptions: [],
      districtOptions: []
    }
  },
  created() {
    this.cityOptions = uniq(vn.map((e) => e.city)).map((c) => ({
      value: c,
      text: c
    }))
  },
  methods: {
    async onSubmit() {
      try {
        this.processing = true
        const userResponse = await this.$axios.post('/users/login', {
          username: this.username,
          password: this.password
        })
        if (
          userResponse.data.roles.includes(1) ||
          userResponse.data.roles.includes(2)
        ) {
          Cookie.set('token', userResponse.data.token, {
            expires: 1
          })
          // Save token in state for other uses
          this.notifyToast('success', 'Success', 'Login successfully')
          this.$store.commit('user/SET_TOKEN', userResponse.data.token)
          this.$store.commit('user/SET_USER', userResponse.data)
          this.$router.push('/admin/users')
        } else {
          this.notifyToast('error', 'Error', 'Not enough permission')
          this.processing = false
        }
      } catch (error) {
        this.notifyToast(
          'error',
          'Error',
          'Login failed, check your infomation'
        )
        this.processing = false
      }
    },
    onCityChange(event) {
      this.districtOptions = uniq(
        vn.filter((c) => c.city === event).map((e) => e.district)
      ).map((c) => ({
        value: c,
        text: c
      }))
    }
  }
}
</script>

<style lang="scss" scoped>
.header-bg {
  margin-left: -15px;
  margin-right: -15px;
  height: 120px;
  background-image: url('https://vieclamsinhvien.edu.vn/images/page-title-bg.jpg');
}
.content {
  margin-top: 12px;
}
.job-card {
  border: 2px solid gray;
  padding: 8px;
  background-color: white;
  margin-bottom: 12px;
  .job-content {
    display: flex;
  }
  .job-thumbnail-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border: 1px solid gray;
  }
  .job-content-position label {
    margin-right: 4px;
    height: 23px;
    padding: 0px 10px;
    background: rgb(118, 118, 231);
    color: white;
    border-radius: 23px;
  }
}
.job-card:hover {
  border: 2px solid green;
}

.index-search {
  padding-left: 100px;
  padding-right: 100px;
  margin-left: -15px;
  margin-right: -15px;
  .index-search-item1 {
    width: 20%;
    height: 50px;
  }
  .index-search-item2 {
    width: 12%;
    height: 50px;
  }
}
</style>
